
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins' sans-serif;
}


body{
    background-color: black;
    height: 150vh;
}

.nome{
    color: rgb(255, 255, 255);
}

.perfil{
    display: flex;
    align-items: center;
    margin-left: 80px;
}

nav{
  background-color: black;


}

nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    font-size: 14px;
}

nav a:hover{
    color: rgb(255, 253, 253);
    transform: scale(1.05);
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    padding: 0 40px;
}

.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}

.contato button{
    margin-right: 40px;
    padding: 8px 25px;
    font-size: 15px;
    background-color: rgb(255, 0, 0);
    border: 0;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.perfil span{
    color: rgb(255, 0, 0);
}

.imagem{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

section .topo-do-site{
    padding: 40px 4%;
    justify-content: space-between;
}

.flex{
    margin-left: 80px;
    display: flex;
}

.topo{
    margin-top: 80px;
}

section .flex{
    align-items: center;
}

main{
    height: 80vh;
    color: rgb(255, 255, 255);
}

.topo span{
    color: rgb(255, 0, 0);
}

.topo .cor{
    color: rgb(166, 154, 176);
    margin: 16px 0;
}
.topo .time{
    margin: 16px 0;
}

.topo .dev{
    font-size: 33px;
}

.flex .imagem{
    margin-left: 385px ;
    margin-right: 250px ;
}

.topo a button{
    margin: 18px 0;
    padding: 8px 25px;
    font-size: 15px;
    background-color: rgb(255, 0, 0);
    border: 0;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.box-redes-sociais{
    margin: 18px 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
}

.imagem img{
    width: 130px;
    height: 180px;
    border-radius: 68px;
    background: #212121;
    box-shadow:  -24px -24px 18px #141414,
             24px 24px 18px #2e2e2e;
}

.rodape{
    color:  rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.secao-rodape{
    background-color:  black;
    height: 90vh;
}

.servicos{
    display: flex;
    justify-content: end;
    background-color: rgb(24, 23, 23);
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    height: 30vh;
    border-radius: 10px;
    align-items: center;
}

.servicos li{
    font-size: 50px;
    list-style-type: none;
    color:  rgb(255, 0, 0);
}

.servicos p{
    color: rgb(238, 255, 255);
}

.Skilles{
    color:  rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    margin-top: 80px;
}


.icones img{
    max-width: 50px;
    max-height: 50px;
}


.icones{
   background-color: black;
   display: flex;
   justify-content: center;
   height: 35vh;
}

.icones ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icones ul li{
    list-style-type: none;
}